/* Across website styling */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.page-content-container {
    margin-top: 4rem;
}

.main-container {
    float: left;
    width: 64%;
    border-right: 1px solid black;
}

main {
    margin: 0 2rem;
}

.aside-container {
    float: right;
    width: 35%;
}

aside {
    margin: 0 2rem;
}

.background-container {
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: auto;
}

.map-container {
    border: 1px solid black;
    text-align: center;
    margin: 1rem 0;
    clear: both;
}

figure {
    width: 100%;
    margin: 0 0 2rem 0;
    text-align: center;
    font-size: 0.8rem;
    border: 1px solid;
}

.image {
    width: 100%;
    object-fit: contain;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

/* Header specific styling */

header {
    width: 100%;
    background-color: slategrey;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 2;
    font-family: 'Roboto Slab', serif;
}

header > a {
    width: 24%;
    float: left;
    margin-left: 1rem;
}

.logo {
    display: block;
    padding: 2rem;
}

.logo-text {
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
}

nav {
    float: right;
    width: 74%;
    text-align: right;
}

nav ul {
    display: flex;
    justify-content:space-around;
    padding: 0 0 0 2rem;
}

nav li {
    display: inline-block;
    line-height: 2rem;
    padding-right: 2rem;
}

.active {

}

/* Footer specific styling */

footer {
    clear: both;
    width: 100%;
    background-color: slategrey;
    height: 4rem;
}

footer > p {
    float: left;
    margin: 1rem 2rem;
    line-height: 2rem;
}

footer > ul {
    margin: 0;
}

footer li {
    display: inline-block;
    padding-left: 1rem;
    font-size: 2rem;
    margin: 1rem;
    line-height: 2rem;
}

/* Index.html specific styling */

/* Styling specific to main section of index.html */
#home-main {
    margin: 0;
}

#background-container-introduction {
    /* credit for the background-image goes to KeswickLimey Photography & Framing https://www.keswicklimey.co.uk/ */
    background-image: url("../images/photo-tarn-at-leaves.jpg");
    background-position: left center;
    position: fixed;
    z-index: -1;
}

#container-behind-introduction {
    height: 650px;
}

h1 {
    text-align: center;
}

#container-main-introduction {
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.75rem;
    border-radius: 5px;
    text-align: center;
    position: relative;
    left: 1rem;
}
#container-main-introduction > p {
    margin: 0;
}

.quote-from {
    display: inline-block;
}

#wainwright-quote {
    width: 100%;
    clear: both;
    color: #fff;
    font-family: 'Klee One', cursive;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(60, 60, 60, 0.6);
}
#wainwright-quote > p {
    margin: 1rem;
}

/* Styling specific to aside section of index.html */
#container-wainwright {
    width: 100%;
    height: 70rem;
    background: white;
}
#container-wainwright h2 {
    padding-top: 2rem;
}

#top-container-wainwright-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#image-wainwright {
    width: 35%;
    object-fit: contain;
    order: 2;
}
#about-wainwright {
    width: 60%;
    order: 1;
}
#about-wainwright > p {
    margin: 0 0 1rem 0;
}

#bottom-container-wainwright-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#container-wainwright-video {
    width: 32rem;
    height: 18rem;
}
#bottom-wainwright-quote {
    width: 50%;
    font-family: 'Klee One', cursive;
    text-align: left;
    margin-left: 2rem;
}

/* Wainwright-fells.html specific styling */

/* Styling specific to main section of wainwright-fells.html */
.container-fell-lists {
    display: flex;
    margin: 1rem 0;
}

.fell-list {
    font-size: 0.9rem;
    border: 1px solid black;
    padding: 0.5rem;
}

.top-fell-list {
    width: 33.3%;
}

.bottom-fell-list {
    width: 25%;
}

.fell-list > h3 {
    text-align: center;
    margin: 0 0 2rem 0;
    font-size: 1.2rem;
}

.fell-list > ol {
    padding-left: 1.4rem;
    
}

.fell-list li {
    margin: 1rem 0;
    list-style-type: none;
}

.number {
    color: #fff;
    padding: 0.1rem 0.3rem;
    border-radius: 2px;
}

#northern-fells > h3 {
    color: #6c2e21;
}
.northern-number {
    background: #6c2e21;
}

#central-fells > h3 {
    color: #328dd3;
}
.central-number {
    background: #328dd3;
}

#southern-fells > h3 {
    color: #eb5933;
}
.southern-number {
    background: #eb5933;
}

#north-western-fells > h3 {
    color: #f6b733;
}
.north-western-number {
    background: #f6b733;
}

#western-fells > h3 {
    color: #418344;
}
.western-number {
    background: #418344;
}

#eastern-fells > h3 {
    color: #6f9935;
}
.eastern-number {
    background: #6f9935;
}

#far-eastern-fells > h3 {
    color: #e73f3e;
}
.far-eastern-number {
    background: #e73f3e;
}
/* Styling specific to aside section 'looking after the fells' */

.table-advice {
    border-spacing: 0.5rem 2rem;
}

#tips-video {
    width: 16rem;
    height: 9rem;
    margin: 0 auto;
}

/* Walking-routes.html specific styling */

/* Styling specific to main section of walking-routes.html */
hgroup {
    text-align: center;
}

article > h3 {
    text-align: center;
}

hgroup > h3 {
    margin-bottom: 0;
}

hgroup > p {
    margin-top: 0;
}

article {
    margin: 1rem 0;
}

#map-castlerigg {
    width: 80%;
    margin: 0 auto;
}

/* Styling specific to route images */
.container-route-images {
    display: flex;
    justify-content: space-around;
}

.outside-figure-gowbarrow {
    width: 35.5%;
}

.inside-figure-gowbarrow {
    width: 26.5%;
}

.outside-figure-ashness {
    width: 34%;
}

.inside-figure-ashness {
    width: 30.6%;
}

.outside-figure-coledale {
    width: 34%;
}

.inside-figure-coledale {
    width: 30.2%;
}

/* Styling specific to anchor link points */
#aira-walk {
    position: relative;
    top: -4rem;
    opacity: 0;
}

#castlerigg-walk {
    position: relative;
    top: -4rem;
    opacity: 0;
}

#coledale-walk {
    position: relative;
    top: -4rem;
    opacity: 0;
}

/* Styling specific to route tables */
.route-table {
    border: 1px solid;
    border-collapse: collapse;
    width: 35%;
    float: left;
    margin-top: 2rem;
}

.route-table th {
    border: 1px solid;
    text-align: right;
    padding: 0.3rem;
}

.route-table td {
    border: 1px solid;
    padding: 0.3rem;
}

/* Styling specific to walk information */
.walk-info {
    float: right;
    width: 60%;
    text-align: center;
    margin-bottom: 1rem;
}

.walk-info > h4 {
    margin-top: 0;
}

/* get-in-touch.html specific styling */

.getintouch-background-container {
    /* credit for the background-image goes to KeswickLimey Photography & Framing https://www.keswicklimey.co.uk/ */
    background-image: url("../images/photo-loweswater.jpg");
    background-position: center center;
    background-attachment: fixed;
}

/* The idea for the styling of container-form and some of the code came from Code
Institutes 'Love Running' walkthrough */
#container-form {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    width: 38rem;
    padding: 0.5rem 2rem;
    position: relative;
    left: 5%;
    top: 12rem;
    margin-bottom: 13rem;
}

/* form-thankyou.html specific styling */
#page-container-form-thankyou {
    width: 100%;
    height: 750px;
    /* credit for the background-image goes to KeswickLimey Photography & Framing https://www.keswicklimey.co.uk/ */
    background-image: url("../images/photo-loweswater.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: -2rem;
    z-index: -1;
}
#container-thankyou {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    width: 25rem;
    padding: 0.5rem 2rem;
    position: relative;
    left: 5%;
    top: 15rem;
    margin-bottom: 13rem;
    text-align: center;
}

/* Responsive design */

@media screen and (min-width:1280px)  {
    /* Responsive header */
    header > a {
        width: 40%;
    }
    nav {
        width: 55%;
    }
    .logo-text {
        line-height: 4rem;
        font-size: 2rem;
    }
    /* Responsive index.html */
    #container-main-introduction {
        width: 40rem;
        font-size: 1.2rem;
    }
    #wainwright-quote {
        font-size: 1.2rem;
    }
    #container-wainwright {
        font-size: 1.1rem;
        height: 65rem;
    }
    #image-wainwright {
        height: 30rem;
        width: 28rem;
    }
    #container-wainwright-video {
        width: 40rem;
        height: 22.5rem;
    }


    .fell-list {
        padding: 1rem;
    }
    #background-container-introduction {
        background-image: url("../images/photo-tarn-at-leaves-big.jpg");
    }
    .getintouch-background-container {
        background-image: url("../images/photo-loweswater-big.jpg");
    }
}


@media screen and (max-width:800px){
    /* Responsive header */
    header {
        height: 5rem;
    }
    header > a {
        width: 100%;
        clear: left;
        text-align: center;
        margin: 0 auto;
    }
    nav {
        width: 100%;
        clear: right;
    }
    nav li {
        text-align: center;
        line-height: 1rem;
    }
    /* Responsive page layout */
    .page-content-container {
        margin-top: 5rem;
    }
    .main-container {
        clear: left;
        width: 100%;
        border-right: none;
        text-align: center;
    }
    .aside-container {
        clear: right;
        width: 80%;
        margin: 0 auto;
        float: none;
    } 

    /* Responsive Footer */
    footer {
        height: 5rem;
    }
    footer > p {
        float: none;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    footer > ul {   
        display: flex;
        justify-content:space-around;
        padding: 0;
        margin: 0;
    }
    footer li {
        margin: 0.5rem;
        line-height: 1rem;
    }

    /* Responsivity specific to aside section index.html */
    #container-wainwright {
        height: 90rem;
    }
    #bottom-container-wainwright-info {
        display: block;
    }
    #container-wainwright-video {
        margin: 0 auto;
    }
    #bottom-wainwright-quote {
        width: 100%;
        font-family: 'Klee One', cursive;
        text-align: left;
        margin: 2rem 0 0 0;
    }

    /* Responsivity specific to fell lists */
    .container-fell-lists {
        text-align: left;
    }

    /* Responsivity specific to walking tips */
    .icon {
        font-size: 2.5rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width:585px){
    .page-content-container {
        margin-top: 4rem;
    }
    /* Responsive header */
    header {
        height: 4rem;
    }
    header > a {
        width: 100%;
        clear: left;
        text-align: center;
    }
    .logo-text {
        font-size: 1rem;
    }
    nav ul {
        margin: 0.7rem 0;
        padding: 0 0 0 1rem;

    }
    nav li {
        line-height: 0.8rem;
        font-size: 0.8rem;
        padding-right: 1rem;
    }

    /* Responsive Footer */
    footer {
        height: 6.5rem;
    }
    footer > p {
        line-height: 1.5rem;
    }
    
    /* Cross page responsivity rules */
    .aside-container {
        width: 100%;
    } 

    /* Responsivity specific to index.html */
    h1 {
        font-size: 1.5rem;
    }
    #container-main-introduction {
        width: 80%;
        position: static;
        margin: 0 auto;
        font-size: 0.8rem;
    }
    #wainwright-quote {
        font-size: 0.8rem;
    }

    /* Responsivity specific to Wainwright section index.html */
    #container-wainwright {
        height: 115rem;
    }
    #container-wainwright-video {
        width: 16rem;
        height: 9rem;
    }
    #top-container-wainwright-info {
        display: block;
    }
    #about-wainwright {
        width: 100%;
        margin-top: 2rem;
        text-align: center;
    }
    #image-wainwright {
        width: 80%;
        margin: 0 auto;
    }

    /* Responsivity specific to Wainwright fells */
    .container-fell-lists {
        display: block;
        width: 100%;
        margin: 0;
    }

    #northern-fells {
        width: 100%;
    }
   
    .fell-list {
        display: inline-block;
        width: 49%;
        padding: 0;
        margin-bottom: 2rem;
    }

    /* Responsivity specific to walking-routes */
    .route-table {
        width: 100%;
        float: none;
        margin-top: 0;
    }

    .walk-info {
        float: none;
        width: 100%;
        margin-top: 2rem;
    }

     /* Responsivity specific to walking tips */
    .icon {
        font-size: 1rem;
        margin-right: 0rem;
    }
}

@media screen and (max-width:320px) {
    #container-wainwright {
        height: 145rem;
    }
    #container-wainwright-video {
        width: 14rem;
        height: 8rem;
    }
    footer {
        height: 8rem;
    }
}

@media screen and (max-height:750px) {
    .background-container {
        height: 550px;
    }
    #container-behind-introduction {
    height: 550px;
    }
}